@import 'reset';

body {
	background-image: radial-gradient(circle at 10px 10px, #f4f4f4 5px, #fff 0);
  background-size: 30px 30px;
	font-size: 16px;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	padding-block: 10vh;
	box-sizing: border-box;
}

.showBox {
	position: relative;
	flex-grow: 1;
	width: 50vw;
	margin-bottom: 5vh;
}

.playedBox {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
	padding-top: 10px;
	padding-right: 10px;
	ul {
		list-style: decimal;
		font-size: 1.2rem;
	}
	li {
		& + li {
			margin-top: 10px;
		}
	}
}

#start {
	width: 20rem;
	padding: 1.5rem 2rem;
  font-size: 1.5rem;
	text-align: center;
	color: black;
  border: 1px solid black;
  border-radius: 10rem;
	background-color: white;
  box-shadow: 0 0 0 0 black;
  transition: all .3s ease-in-out;
  cursor: pointer;
	&:hover {
		transform: translateY(-4px) translateX(-2px);
		box-shadow: 2px 5px 0 0 black;
		&:active {
			transform: translateY(2px) translateX(1px);
			box-shadow: 0 0 0 0 black;
		}
	}
}